@import url("https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Dancing+Script:wght@400;600&family=Inconsolata:wght@200;400;600&family=Lobster&family=Montserrat:wght@100;200;300;400&family=Mukta:wght@200;400&family=Nunito:wght@200;300;400;700;900&family=Oswald:wght@200;400;600&family=Playfair:wght@300&family=Poppins:wght@300;400&family=Roboto+Condensed:wght@300;400&family=Rubik:wght@300;400&family=Tsukimi+Rounded:wght@300;400;500;600&family=Yanone+Kaffeesatz:wght@200;400;600&display=swap");

.App {
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Nunito", sans-serif;
}

.App-title {
    /* width: 50%; */
    color: white;
    font-size: 5rem;
    margin-top: 1rem;
    font-weight: 100;
    margin-bottom: 0;
    display: inline-block;
}

@media (max-width: 650px) {
    .App {
        text-align: center;
        display: flex;
        align-items: center;
        font-family: "Nunito", sans-serif;
    }

    .Game {
        max-width: 900px;
        box-shadow: none;
        /* width: 100% !important; */
    }

    .Game-header {
        width: 130%;
        position: relative;
        left: 10px !important;
    }

    .Game-dice-section .msg {
        margin-block: 40px;
    }

    .ScoreTable {
        width: 117%;
        position: relative;
        left: 10px !important;
    }

    .RuleRow {
        height: 40px;
    }

    .total-score {
        margin-top: 30px;
    }

    .App-title {
        top: 10px;
        margin-top: 50px !important;
    }

    .App-title {
        padding-top: 20px;
    }

    .Game-reroll.rolling,
    .Game-reroll {
        width: 100% !important;
        margin-bottom: 30px;
    }
}
